
.navbar-brand{
  font-weight: bolder;
}
.navbar{
  box-shadow: 5px;
}
.btn{
  border-radius: 0%;
  margin: 10px ;
  margin-right : 10px;
}
.image{
  float: right;
  width: 70%;
}
.login{
  padding-top: 10%;
  float: left;
  width: 29%;
}
#submit{
  width: 96%;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .image{
    display: none;
  }
  .login{
    padding-top: 25%;
    float: left;
    width: 100%;
  }
}